

.start_form {

    float: left;
    padding-left: 100px;
    padding-top: 150px;
    width: 40%;
    color: #b7b7b7;
    font-weight: bold;

}
.question {

    float: left;
    padding: 50px;
    width: 50%;
    color: #b7b7b7;
    font-weight: bold;

}
.questionContent {

    padding: 50px;
    color: #b7b7b7;
    font-weight: bold;
    margin: 0px auto;
    background: rgba(47, 45, 45, 0.5);
}

.answers {

    float: right;
    padding: 60px;

    width: 20%;
    color: #b7b7b7;
    font-weight: bold;

}
.mainText{
    color: #b7b7b7;
}

body {
    background: url(../img/mainPage.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}



a.start {
    text-decoration: none;
    color: brown;
    text-align: center;
    font-size: 100px;
    padding: 20px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    width: 100px;
    display: inline-block;
    height: 90px;
    line-height: 20px;
}
a.start:hover {
    font-size: 120px;
}
a.answer {
    text-decoration: none; color: brown;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    width: 100px;
    display: inline-block;
    height: 30px;
    line-height: 20px;

}
a.answer:hover {
    font-size: 30px;
}

#exit{
    right: 20px;
    bottom: 20px;
    position: absolute;
}